<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.UserDeviceCategoryMapper">
    
    <resultMap type="UserDeviceCategory" id="UserDeviceCategoryResult">
        <result property="id"    column="id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="upTime"    column="up_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="upBy"    column="up_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectUserDeviceCategoryVo">
        select id, category_name, parent_id, create_time, up_time, create_by, up_by, remark from user_device_category
    </sql>

    <select id="selectUserDeviceCategoryList" parameterType="UserDeviceCategory" resultMap="UserDeviceCategoryResult">
        <include refid="selectUserDeviceCategoryVo"/>
        <where>  
            <if test="categoryName != null  and categoryName != ''"> and category_name like concat('%', #{categoryName}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="upTime != null "> and up_time = #{upTime}</if>
            <if test="upBy != null  and upBy != ''"> and up_by = #{upBy}</if>
        </where>
    </select>
    
    <select id="selectUserDeviceCategoryById" parameterType="Long" resultMap="UserDeviceCategoryResult">
        <include refid="selectUserDeviceCategoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserDeviceCategory" parameterType="UserDeviceCategory" useGeneratedKeys="true" keyProperty="id">
        insert into user_device_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null">category_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="upTime != null">up_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="upBy != null">up_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryName != null">#{categoryName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="upTime != null">#{upTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="upBy != null">#{upBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateUserDeviceCategory" parameterType="UserDeviceCategory">
        update user_device_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryName != null">category_name = #{categoryName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="upTime != null">up_time = #{upTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="upBy != null">up_by = #{upBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserDeviceCategoryById" parameterType="Long">
        delete from user_device_category where id = #{id}
    </delete>

    <delete id="deleteUserDeviceCategoryByIds" parameterType="String">
        delete from user_device_category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>